@using EIP.Web.DataUsers.Helpers

@{
    ViewBag.Title = "图标选择";
    ViewBag.Require = "common-usercontrol-chosen-icon";
    Layout = "~/Views/Shared/_LayoutPageEditSubmit.cshtml";
}

<div id="layout" class="layoutdiv">
    <div id="listcenter" class="ui-layout-center" style="border-style: none">
        <table id="list"></table>
        <div id="pager"></div>
    </div>
    <div id="uiNorth" class="ui-layout-north" style="border-color: #ccc; border-style: solid; border-width: 1px">
        <div class="select_box">
            @Html.SearchTextBox("Name", "名称")
            <input type="button" name="btn_select_box" value="搜 索" class="btnSearch">
        </div>
    </div>
</div>