@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文件下载</title>
    <style type="text/css">
        .main-container {
            background-color: #FFFFFF;
            padding: 30px 50px;
        }

        .soft-item {
            position: relative;
            float: left;
            width: 175px;
            height: 190px;
            border: 1px solid #BFBFBF;
            margin: 28px;
        }

            .soft-item img {
                display: block;
                margin: 0 auto;
            }

        .soft-icon {
            text-align: center;
            margin-top: 15px;
        }

            .soft-icon a {
                color: #333333;
            }

        .description {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 70px;
            overflow: hidden;
            background: #F1F1F1;
            border-top: 1px solid #BFBFBF;
            padding: 5px 10px;
        }

        body, button, input, select, textarea {
            font: 12px/1.5 Arial,"\u5b8b\u4f53",sans-serif;
            color: #333333;
        }

        :link, :visited {
            text-decoration: none;
        }

        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
            margin: 0;
            padding: 0;
        }
    </style>
</head>


<body>
    <div class="soft-box">
        <div class="soft-item">
            <div class="soft-icon">
                <a href="http://www.wmzhe.com/soft-11.html#download" target="_blank">
                    <img src="/contents/images/download/chrome.jpg" alt="Google Chrome" />
                    <span>Google Chrome</span>
                </a>
            </div>
            <p class="description">
                谷歌浏览器Google Chrome是一款可让您更快速、轻松且安全地使用网络的浏览器。
            </p>
        </div>
        <div class="soft-item">
            <div class="soft-icon">
                <a href="/Downloads/CLodop/CLodopSetup.exe" target="_blank">
                    <img style="width: 69px; height: 69px" src="/contents/images/download/attachment.png" alt="Epoolink TTS"/>
                    <span>打印安装文件</span>
                </a>
            </div>
            <p class="description">
                Lodop有一个稳定的技术支持团队，其核心成员都曾任职过几家上市软件公司，深谙开发之道；
                有的经过10多年拼搏，在上万人的企业队伍里成长为顶尖好手；
            </p>
        </div>

        <div class="soft-item">
            <div class="soft-icon">
                <a href="http://www.fanpusoft.com/oa/ty/" target="_blank">
                    <img style="width: 69px;height: 69px" src="/contents/images/download/attachment.png" alt="Epoolink TTS" />
                    <span>泛普软件OA办公系统</span>
                </a>
            </div>
            <p class="description">
                
            </p>
        </div>
    </div>

</body>
</html>
