@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>请选择支付方式</title>
    <style>
        #paybox {
            background: no-repeat center center;
            border: 1px solid #cccccc;
            cursor: pointer;
            float: left;
            height: 60px;
            margin-right: 60px;
            width: 200px;
        }
    </style>

</head>
<body>
    <a href="/Demo/Pay/AlipayPcPay" target="_blank">
        <div id="paybox" style="background-image: url(/Contents/Images/pay/alipay.png);"></div>
    </a>
    <a href="/Demo/Pay/WeiXinPcPay" target="_blank">
        <div id="paybox" style="background-image: url(/Contents/Images/pay/weixinpay.png);"></div>
    </a>
    <a href="/Demo/Pay/UnionpayPcPay" target="_blank">
        <div id="paybox" style="background-image: url(/Contents/Images/pay/unionpay.png);"></div>
    </a>
</body>
</html>