@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>微信支付</title>
</head>
<body>
    微信扫描支付<br />
    <img src="@ViewData["imgurl"]" alt="" />
</body>
</html>
