@using EIP.Web.DataUsers.Helpers
@{
    ViewBag.Title = "文章下载记录表列表";
    ViewBag.Require = "system-download-list";
    Layout = "~/Views/Shared/_LayoutPageBaseList.cshtml";
}
<div id="uiCenter" class="ui-layout-center" style="border-style: none">
    <table id="list"></table>
    <div id="pager"></div>
</div>

<div id="uiNorth" class="ui-layout-north" style="border-color: #ccc; border-style: solid; border-width: 1px">
    <div class="tools_box">
        @{ Html.RenderPartial("~/Areas/Common/Views/Shared/_PartialButton.cshtml");}
        <div class="select_box">
            @Html.SearchTextBox("Title", "标题")
            <input type="submit"  value="搜 索" class="btnSearch">
        </div>
    </div>
</div>