@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>发生错误</title>
</head>
<body>
    <div>
        非ajax提交发生错误(此界面可重写样式:如返回首页等):@ViewData["msg"] 
    </div>
</body>
</html>
