@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>页面正在跳转...</title>
    <script type="text/javascript">top.window.location.href = '@ViewBag.Url';</script>
</head>
<body>
</body>
</html>
