<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>对不起,您没有操作权限,请赋予权限后重试!</title>
    <link href="~/Contents/common.css" rel="stylesheet" />
</head>
<body>
    <table class="messagebox" align="center" width="315" cellpadding="0" cellspacing="0">
        <tbody>
            <tr class="head-no-title">
                <td class="left"></td>
                <td class="center"></td>
                <td class="right"></td>
            </tr>
            <tr class="msg" height="90">
                <td class="left"></td>
                <td class="center error" style="padding-left:75px">
                    <div class="msg-content" style="margin-right:0px "><strong>操作提示:<br>您没有操作权限,请赋予权限后重试!</strong></div>
                </td>
                <td class="right"></td>
            </tr>
            <tr class="foot">
                <td class="left"></td>
                <td class="center"><b></b></td>
                <td class="right"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
