@{
    ViewBag.Title = "操作日志";
    ViewBag.Require = "system-log-operationlog";
    Layout = "~/Views/Shared/_LayoutPageBaseList.cshtml";
}

<div class="ui-layout-center" style="border-style: none">
    <div id="layout" class="layoutdiv">
        <div id="uiCenter" class="ui-layout-center" style="border-style: none">

            <table id="list"></table>
            <div id="pager"></div>
        </div>
        <div id="uiNorth" class="ui-layout-north" style="border-color: #ccc; border-style: solid; border-width: 1px">
            <div class="tools-box">
                <div class="tools-box-left" id="partial_button_toolbar">
                    @{ Html.RenderPartial("~/Areas/Common/Views/Shared/_PartialButton.cshtml"); }
                </div>
                <div class="tools-box-right">
                    登录名：<input type="hidden" value="cn" /><input name="CreateUserCode" type="text" class="filter" placeholder="请输入登录名查询" />
                    真实姓名：<input type="hidden" value="cn" /><input name="CreateUserName" type="text" class="filter" placeholder="请输入真实姓名查询" />
                    操作时间：<input type="hidden" value="time" /><input name="CreateTime" class="Wdate filter" type="text" onclick=" WdatePicker() " placeholder="请输入操作时间查询" />
                    描述：<input type="hidden" value="cn" /><input name="Describe" type="text" class="filter" placeholder="请输入描述查询" />
                    <input type="button" name="btn_select_box" value="搜 索" class="btnSearch">
                    <input type="button" name="btn_reset_box" value="重 置" class="btnSearch">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="uiSouth" class="ui-layout-south" style="border-color: #ccc; border-style: solid; border-width: 1px">
    <form id="form">
        <div id="detailDiv" style="overflow: auto">
            <table class="edit-table">
                <tbody>
                    <tr>
                        <th>
                            操作时间：
                        </th>
                        <td>
                            <label id="CreateTime"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            描述：
                        </th>
                        <td>
                            <label id="Describe"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            登录名：
                        </th>
                        <td>
                            <label id="CreateUserCode"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            真实姓名：
                        </th>
                        <td>
                            <label id="CreateUserName"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            当前请求Url信息：
                        </th>
                        <td>
                            <label id="Url"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            上次请求Url信息：
                        </th>
                        <td>
                            <label id="UrlReferrer"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            控制器：
                        </th>
                        <td>
                            <label id="ControllerName"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            方法名称：
                        </th>
                        <td>
                            <label id="ActionName"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            请求数据：
                        </th>
                        <td>
                            <label id="RequestData"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            响应状态：
                        </th>
                        <td>
                            <label id="ResponseStatus"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            页面展示(秒)：
                        </th>
                        <td>
                            <label id="ResultExecutionTime"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            方法执行(秒)：
                        </th>
                        <td>
                            <label id="ActionExecutionTime"></label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            浏览器：
                        </th>
                        <td>
                            <label id="UserAgent"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            客户端IP：
                        </th>
                        <td>
                            <label id="ClientHost"></label>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            服务端IP：
                        </th>
                        <td>
                            <label id="ServerHost"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
