@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>提示</title>
</head>
<body>
    <div>
        当请求与此控制器匹配但在此控制器中找不到任何具有指定操作名称的方法:@ViewData["url"] 
    </div>
</body>
</html>
