<p>
    <span style="font-size: 29px;font-family: 微软雅黑;padding: 0px;outline: 0px">创新创业战略团队项目</span>
</p>
<table cellspacing="0" cellpadding="0">
    <tbody style=";padding: 0px;outline: 0px">
        <tr style=";padding: 0px;outline: 0px;break-inside: avoid;height: 26px" class="firstRow">
            <td width="113" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="26">
                <p style=";outline: 0px;text-align: right;text-indent: 10px">
                    出差申请人：
                </p>
            </td>
            <td width="133" colspan="4" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="26">
                <p style=";outline: 0px;text-align: center;text-indent: 10px">
                    <span style=";padding: 0px;outline: 0px"><input id="CS1" title="CS007" value="测试员" readonly="" maxlength="255" name="CS1" style="font-size: 12px;font-family: 宋体;color: navy;width: 100px;cursor: pointer" />&nbsp;</span>
                </p>
            </td>
            <td width="91" colspan="2" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="26">
                <p style=";outline: 0px;text-align: right;text-indent: 10px">
                    部门：
                </p>
            </td>
            <td width="134" colspan="7" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="26">
                <p style=";outline: 0px;text-align: center;text-indent: 48px">
                    <span style=";padding: 0px;outline: 0px"><input id="CS2" title="CS007" value="总经办" readonly="" maxlength="255" name="CS2" style="font-size: 12px;font-family: 宋体;color: navy;width: 100px;cursor: pointer" />&nbsp;</span>
                </p>
            </td>
            <td width="120" colspan="4" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="26">
                <p style=";outline: 0px;text-align: right;text-indent: 10px">
                    员工职级：
                </p>
            </td>
            <td width="127" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="26">
                <p style="margin: 0 0 0 8px;outline: 0px;text-align: center;text-indent: 2px">
                    <span style=";padding: 0px;outline: 0px"><input id="CS5" title="CS007" value="总监" readonly="" maxlength="255" name="CS5" style="font-size: 12px;font-family: 宋体;color: navy;width: 100px;cursor: pointer" />&nbsp;</span>
                </p>
            </td>
        </tr>
        <tr style=";padding: 0px;outline: 0px;break-inside: avoid;height: 27px">
            <td width="113" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="27">
                <p style=";outline: 0px;text-align: right;text-indent: 10px">
                    填单日期：
                </p>
            </td>
            <td width="133" colspan="4" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="27">
                <p style=";outline: 0px;text-align: center">
                    <span style=";padding: 0px;outline: 0px"><input id="CS3" title="CS007" value="2016年8月31日" readonly="" maxlength="255" name="CS3" style="font-size: 12px;font-family: 宋体;color: navy;width: 100px;cursor: pointer" />&nbsp;</span>
                </p>
            </td>
            <td width="91" colspan="2" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="27">
                <p style=";outline: 0px;text-align: right;text-indent: 10px">
                    岗位：
                </p>
            </td>
            <td width="134" colspan="7" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="27">
                <p style=";outline: 0px;text-align: center;text-indent: 48px">
                    <span style=";padding: 0px;outline: 0px"><input id="CS4" title="CS007" value="研发总监" readonly="" maxlength="255" name="CS4" style="font-size: 12px;font-family: 宋体;color: navy;width: 100px;cursor: pointer" /></span>
                </p>
            </td>
            <td width="120" colspan="4" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="27">
                <p style=";outline: 0px;text-align: right;text-indent: 10px">
                    批准编号：
                </p>
            </td>
            <td width="127" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="27">
                <p style=";outline: 0px;text-align: center;text-indent: 10px">
                    <span style=";padding: 0px;outline: 0px"><input id="CS6" title="CS001" maxlength="255" size="13" name="CS6" style="font-size: 12px;font-family: 宋体;color: navy;width: 102px;height: 21px" /></span>
                </p>
            </td>
        </tr>
        <tr style=";padding: 0px;outline: 0px;break-inside: avoid;height: 26px">
            <td width="113" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="26">
                <p style=";outline: 0px;text-align: right;text-indent: 10px">
                    出差地点：
                </p>
            </td>
            <td width="133" colspan="4" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="26">
                <h2 style="font-size: 13px;padding: 0px;outline: 0px;text-align: center;text-indent: 10px">
                    <span style="font-size: 16px;padding: 0px;outline: 0px"><input id="CS7" title="CS001" maxlength="255" size="15" name="CS7" style="font-size: 12px;font-family: 宋体;color: navy;width: 121px;height: 21px" /></span>
                </h2>
            </td>
            <td width="91" colspan="2" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="26">
                <h2 style="font-size: 13px;padding: 0px;outline: 0px;text-align: right;text-indent: 10px">
                    <span style="font-size: 16px;padding: 0px;outline: 0px">日</span><span style="font-size: 16px;padding: 0px;outline: 0px">期</span><span style="font-size: 16px;padding: 0px;outline: 0px">：</span>
                </h2>
            </td>
            <td width="31" colspan="2" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="26">
                <h2 style="font-size: 13px;padding: 0px;outline: 0px;text-align: center">
                    <span style="font-size: 16px;padding: 0px;outline: 0px">由</span>
                </h2>
            </td>
            <td width="165" colspan="7" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="26">
                <p style=";outline: 0px;text-align: center;text-indent: 10px">
                    <span style=";padding: 0px;outline: 0px"><input id="CS8" title="CS006" readonly="" name="CS8" style="font-size: 12px;font-family: 宋体;color: navy;width: 100px;cursor: pointer" /><img src="/Scripts/FormDesinger/ueditor/net/upload/image/20160831/6360825228281203014415601.gif" style=";padding: 0px;outline: 0px" />&nbsp;</span>
                </p>
            </td>
            <td width="36" style="padding: 0px 2px; outline: 0px; border: 1px solid rgb(212, 208, 200); background: transparent;" height="26">
                <p style=";outline: 0px;text-align: center">
                    <span style=";padding: 0px;outline: 0px">～</span>
                </p>
            </td>
            <td width="149" colspan="2" style="padding: 0px 2px; outline: 0px; border-width: 1px; border-color: rgb(212, 208, 200) rgb(212, 208, 200) windowtext; border-style: solid; background: transparent;" height="26">
                <p style=";outline: 0px;text-align: center;text-indent: 10px">
                    <span style=";padding: 0px;outline: 0px"><input id="CS9" title="CS006" readonly="" name="CS9" style="font-size: 12px;font-family: 宋体;color: navy;width: 100px;cursor: pointer" /><img src="/Scripts/FormDesinger/ueditor/net/upload/image/20160831/6360825228281203014415601.gif" style=";padding: 0px;outline: 0px" />&nbsp;</span>
                </p>
            </td>
        </tr>
       
    </tbody>
</table>
<p style="font-size: 13px; padding: 0px; outline: 0px; text-align: center;">
    <span style="font-size: 12px;padding: 0px;outline: 0px">备注：</span><span style="font-size: 12px;font-family: &#39;Times New Roman&#39;;padding: 0px;outline: 0px">1.</span><span style="font-size: 12px;padding: 0px;outline: 0px">此单请签批后附报销凭证交财务部。<br />　　　</span><span style="font-size: 12px;font-family: &#39;Times New Roman&#39;;padding: 0px;outline: 0px">2.</span><span style="font-size: 12px;font-family: 宋体;padding: 0px;outline: 0px">如发生业务招待费、市内交通费，需加填业务招待费申请表、车费运杂费明细表。</span>
</p>
<p>
    &nbsp;<span style="color: rgb(79, 107, 114);font-family: 宋体, arial, sans-serif;font-size: 13px;background-color: rgb(255, 255, 255)">&nbsp;</span>
</p>
<p style="text-align: justify;">
    <br />
</p>