<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--禁用VS2013 BrowserLink功能-->
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="false" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="false" />
  
  <!--前台登录地址-->
  <add key="LoginUrl" value="/Account/Login" />
  <!--当前系统代码-->
  <add key="AppCode" value="EIP"/>
  <!--平台Api接口地址-->
  <add key="SolutionApiUrl" value="http://localhost:58576/"/>
  <add key="dataSource" value="myDS" />
  <add key="threadCount" value="10" />
 
</appSettings>